Package: com.libretro.nestopia
Name: nestopia
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: Libretro iOS core of Nestopia
Maintainer: libretro
Author: libretro
Section: System
Tag: role::developer
