*.so
*.o
*.dylib
*.dll
*.nes
*.fds
*.ips
*.ups
/nestopia
*.js
*.bc
.npmignore

# Autotools cruft
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
source/common/.deps/
source/common/.dirstamp
source/core/.deps/
source/core/.dirstamp
source/core/api/.deps/
source/core/api/.dirstamp
source/core/board/.deps/
source/core/board/.dirstamp
source/core/input/.deps/
source/core/input/.dirstamp
source/core/vssystem/.deps/
source/core/vssystem/.dirstamp
source/gtkui/.deps/
source/sdl/.deps/
source/sdl/.dirstamp
source/unix/.deps/
source/unix/.dirstamp
source/unix/gtkui/.deps/
source/unix/gtkui/.dirstamp
